<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nda.new_qr_barcode_scanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mainn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mainn_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QR_Barcode_Scanner">
        <activity
            android:name="com.nda.new_qr_barcode_scanner.MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="reversePortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nda.new_qr_barcode_scanner.Fragment.SavedCode.FragmentSavedCode"
            tools:ignore="Instantiatable"
            />
        <activity
            android:name="com.nda.new_qr_barcode_scanner.Fragment.GenerateFragment"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />


        <activity
            android:name="com.nda.new_qr_barcode_scanner.Scan_Image"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="screenOrientation" />


        <activity
            android:name="com.nda.new_qr_barcode_scanner.Fragment.Scanner.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="screenOrientation" />

    </application>

</manifest>